/* Define Variables */
:root {
    --bg-color-1: rgba(32,33,36,1);
    --bg-color-2: #303134;
}
body {
    background-color: var(--bg-color-1);
    color: lightgray;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s;
    min-height: 100vh;
}
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}

#search-button {
    margin-left: auto;
}

.result::before {
    content: "";
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.resultContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.result {
    margin: 1%;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    border-radius: 10px;
    background-color: var(--bg-color-1);
    padding: 0 0 1em;
    color: white;
    /*! flex-basis: 10%; */
}

.result:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 10px;
}

.result_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5em;
    margin: 4em;

}

.featured_img {
    display: flex;
    margin: 2em 4em;
    width: 5em;
    /* justify-content: center; */
    /* align-items: center; */
}

.result__text {
    flex: 1;
    text-align: center;
    /* padding: 0 10em; */
}

.heading {
    text-align: center;
    font-size: 3em;
    color: lightgray;
    font-weight: bold;
}

.sub-heading {
    text-align: center;
    margin-bottom: 20px;
    color: lightgray;
}

.search-form {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    border-radius: 28px;
    border: #f6f6f6;
    background-color: var(--bg-color-2)
}

.search-input {
    margin-left: 3%;
    font-size: 2vh;
    color: #f6f6f6;
    outline: none;
    border: none;
    background: transparent;
    background-color: var(--bg-color-2);
    width: 50vw;
}

.search-form-nav {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 28px;
    border: #f6f6f6;
    background-color: var(--bg-color-2)
}

.search-input-nav {
    margin-left: 3%;
    font-size: 2vh;
    color: #f6f6f6;
    outline: none;
    border: none;
    background: transparent;
    background-color: var(--bg-color-2);
}

#search-results-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#search-results {
    flex-basis: 100%;
}

/* Add this to your CSS file */

/* Parent container for the filter options */

.res_name {

    font-weight: bold;
    font-size: 1.2em;

}

.mid_text_result {
    font-weight: bold;
    font-size: 1.1em;

}

#filter-section {
    float: left;
    width: 25%;
    text-align: center;
}

.filter-options {
    display: block;
}

.detailed_heading {
    text-align: center;
    color: lightgray;
    font-size: 2.5em;
}

.item-container {

    margin-left: 0.5%;
    background-color: rgb(75, 85, 99);
    border-radius: 10px;
    padding: 10px;
    color: white;
    width: 33%;
    margin: 2%;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    flex-basis: 25%;
}

#detailed-view-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#detailedView {
    /* display: flex; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item_heading {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 1350px) {
    .item-container {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 1350px) {
    .item-container {
        flex-basis: 40%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
    .item-container {
        flex-basis: 40%;
    }
}

@media screen and (max-width: 1199px) {
    .item-container {
        flex-basis: 70%;
    }
}

#result-image-MacPro71 {
    max-height: 225px;
}

#mid_text_MacPro71 {
    margin-top: 0;
}

.fontawesome-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5em;
    margin-right: 5px;
    float: left;
    margin-left: 5%;
    translate: 0 -50px;
    text-align: center;
    background-color: gray;
    padding: 10px;
    border-radius: 50%;
}

#search-results-heading {
    padding: 0.8em 0;
}

.img-detail {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.linkNotFound:link {
    color: #fff;
    text-decoration: none;
}

.linkNotFound:hover {
    color: #000;
    text-decoration: underline;
}

.linkNotFound:visited {
    color: #fff;
    text-decoration: none;
}

.wrapper .autocom-box {
    padding: 0;
    max-height: 280px;
    overflow-y: scroll;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.autocom-box li:hover {
    background: darkblue;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(17, 24, 39);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(17, 24, 39);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 2px solid black;
    /* creates padding around scroll thumb */
}

/* Stick footer to bottom */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    color: gray;
    margin-top: 1em;
}

@media screen and (max-width: 640px) {
    .heading {
        font-size: 9vw;
    }
    #search-form {
        width: 80vw;
    }
    .form-group {
        flex-direction: column;
    }
    #search-input {
        margin-right: 0;
        margin-bottom: 1em;
        width: 100%;
    }
    .btn {
        width: 100%;
    }

    .detailed_heading {
        font-size: 2em;
    }

    .img-detail {
        width: 100%;
    }

    .item-container {
        flex-basis: 100%;
        text-align: center;
    }

}

@media screen and (min-width: 1024px) {
    #search-form {
        width: 50vw;
    }

    .detailed_heading {
        font-size: 2.5em;
    }
}

.results-link {
    color: white;
    text-decoration: none;
}

.results-link:hover {
    text-decoration: underline;
}

.no-style-type {
    list-style-type: none;
}

.featuredHeading {
    text-align: center;
}

.sticky {
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

  }

.navbar {
    z-index: 999;
}

.iosVersion {
    padding-right: 100%;
}